exportPattern("^[[:alpha:]]+")
importFrom("utils", "read.csv")
importFrom("utils", "unzip")
importFrom("utils", "tail")
importFrom("utils", "count.fields")
importFrom("readr", "read_file")
importFrom("stringi", "stri_encode")
importFrom("stringi", "stri_trans_general")
importFrom("maps", "map")
importFrom("graphics", "box")
importFrom("graphics", "points")
importFrom("graphics", "title")
importFrom("grDevices", "dev.new")
importFrom("iotools", "read.csv.raw")
importFrom("iotools", "dstrfw")
importFrom("iotools", "readAsRaw")
