exportPattern("^[[:alpha:]]+")
importFrom("utils", "read.csv")
importFrom("utils", "unzip")
importFrom("utils", "tail")
importFrom("utils", "count.fields")
importFrom("readr", "read_file")
importFrom("stringi", "stri_encode")
importFrom("stringi", "stri_trans_general")
